* {
	cursor: default;
}



/*COLORS*/
/*Resume Blue #4c254d; Highlight Blue #964997*/

body {
	/*background-color: #ffeedd;*/
	/*background-color: #fff;*/
	color: #4c254d;
		margin: 18px;
		min-width: 1200px; max-width: 100%;
	overflow-x: hidden;
}

		.scroll::-webkit-scrollbar-track { background:transparent; }
		.scroll::-webkit-scrollbar { width: 12px;}
		.scroll::-webkit-scrollbar-thumb { background-color: #4c254d !important; border-right: 4px solid #fff;   }

.rows {
	/*background-color: #e7dbdf;*/

	width: 100%; min-width: 1200px;
	margin-bottom: 16px;
}

.rows#header {
	position: fixed;
	top:0px;
	z-index: 998;

	height: 35px;
	padding-top: 90px;
	padding-bottom: 40px;

	background-color: #fff;
}

.rows#navtitle {
	position: fixed;
	top:122px;
	z-index: 999;

	height: 54px;
	padding-top: 18px;
	margin-bottom: 0px;
}

.rows#content {
	position: absolute;
	top:210px;
	z-index: -1;

	height:900px;
}


		.columns {
			position: relative;
			float:left;

			height: 100%;

			margin-right: 9px;

		}

		.col0 {
			/*background-color: #fff;*/
			/*background-color: #fc9dce;*/

			width: 44%;

		}

				/*line to title*/
				#blue_border {
					float: right;

					width: calc(100% + 20px);
					height: calc(100% - 8px);

					border-bottom: 8px solid #4c254d;
				}

				.stack0 {
					/*background-color: #ffefaf;*/
					float: right;

					width: 100%;
					height: calc( (100% - 8px)*.5 );
				}

				.stack0#c1-s00 {
					background-color: white;
					padding-bottom: 22px;
				}

					.stack0#c0-s00 {
						background-color: white;
						padding-bottom: 9px;
					}

				.menu_icon {
					background-color: #fff;
					position:relative;
					float:right;

					height: 24px;
					padding-left: 8px;
				}

				.menu_icon * {
					float: right;
					text-decoration: none;
				}

				.menu_icon img {
					width: 22.6px;
				}


						.placeholder {
							width: 22.6px;
							height: 24px;
							margin-left: 8px;
							float:right;
						}

						.menu_under {
							opacity: 0;
							width: 300px;
							height: 100%;
							float: right;
							/*margin-left: 8px;*/
							/*border-top: 4px solid #4c254d;*/
						}

				.s0-1 {
					height:1px;
					padding-bottom: 30px;
				}

				.fader {
					background: linear-gradient(rgba(255,255,255,1.1), rgba(255,255,255,.9), rgba(255,255,255,.6), rgba(255,255,255,0.01) );
					/*background: linear-gradient( rgba(255,255,255,1), rgba(255,255,255,0);*/
				}


		.col1 {
			/*background-color: #fff;*/
			/*background-color: #fc9dce;*/

			width: 50%; min-width: 600px; max-width: 700px;
			margin-top: 2px;
		}

				.additive-titles {
					position: relative;
					float: left;
				}

				#content > .col1 {
					/*background-color: rgba(252,252,240,50);*/
					margin-left: calc(44% + 9px);
				} 


/*TEXT*/

h1,h2,h3,h4,h5,h6,p {
	margin:0;
	padding:0;
	color: #4c254d;
	line-height: 18px;
}

	/*PATRICK J. O'DONNEL*/
	h1 {
		font-family: 'Fira Sans Condensed', Sans-Serif;
		font-weight: 700;
		text-transform: uppercase;

		font-size: 48px;
		line-height: 35px;
		letter-spacing: 1.5px;
	}

				h1 a {
					height:35px;
				}

	/*PAGE THAT WE ARE ON*/
	h2 {
		font-family: 'Fira Sans Condensed', Sans-Serif;
		font-weight: 500;
		text-transform: uppercase;

		font-size: 28px;
		line-height: 23px;
		letter-spacing: .5px;

	}

	/*QUALIFIER FOR PAGE WE ARE ON*/
	h3 {
		font-family: 'Fira Sans Condensed', Sans-Serif;
		font-weight: 300;
		text-transform: uppercase;

		font-size: 28px;
		line-height: 23px;
		letter-spacing: .2px;
	}

	/*MENUS*/
	h4 {
		font-family: 'Fira Sans Condensed', Sans-Serif;
		font-weight: 300;
		text-transform: uppercase;

		font-size: 20px;
		line-height: 24px;
		color: #964997;

		text-align: right;
	}


	a {
		text-decoration: none;
		cursor: pointer;
		color: #4c254d;
	}

			p a {
				font-family: 'Fira Sans Condensed', Sans-Serif;
				font-weight: 700;

				font-size: 14px;
				line-height: 18px;
				letter-spacing: .5px;
			}

			.clickable:hover, a:hover {
				color: #964997;
			}


/*POINTER*/
.clickable {
	cursor: pointer;
}

/*AJAX LOADING*/
#load {
    display: none;
    position: absolute;

    right: 10px;
    top: 10px;
	width: 43px;
    height: 11px;

    background: url(./icons/Rolling.gif);
    
    text-indent: -9999em;

}
