
.map_boundary {
	position: relative;
	float: left;
	/*margin-top: 12px;*/
	padding-right: 20px;
}

.legend {
	position: relative;
	float: left;
}

/* Style for Custom Tooltip */
div.tooltip {   
 	position: absolute;           
	          
	/*width: 66px;*/
	height: 16px;                 
	padding: 4px 6px 2px 6px;  
	      
	background: #fff;   
	border: 1.2px solid #4c254d;      
	border-radius: 4px; 

	font-family: 'Fira Sans Condensed';
	font-size: 12px;
	font-weight: 300; 
	text-align: center;
	color: #4c254d;   

	opacity: 0; 

	z-index: 999;

	pointer-events: none; 

	top: 0; left: 0;    
}
        
/* Legend Font Style */
.legend_text {
	fill: #4c254d;
	font-size: 16px; 
	font-weight: 400;
	font-family: 'Fira Sans Condensed', sans-serif;
}

.city_dot {
	fill: #4c254d;
	cursor: default;
}
        
span.light {
	font-weight:300;
}

