/* Style for Custom Tooltip */
div .tooltip {   
 	position: absolute;           
	text-align: center;           
	/*width: 60px;*/
	height: 18px;                 
	padding: 2px 4px 2px 4px;  
	color: #4c254d;           
	font-size: 14px;
	font-family: 'Fira Sans Condensed';        
	background: #fff;   
	border: 1px solid #4c254d;      
	border-radius: 4px;           
	pointer-events: none;
	font-weight: 300;   

	opacity: 0;      
}
        
/* Legend Font Style */
.legend_text {
	fill: #4c254d;
	font-size: 16px; 
	font-weight: 400;
	font-family: 'Fira Sans Condensed', sans-serif;
}

.city_dot {
	fill: #4c254d;
}
        
span.light {
	font-weight:300;
}

