.content_text {
	width: 45%; min-width: 500px; max-width: 700px;
}

#content p {
	font-family: 'Libre Baskerville', Serif;
	font-weight: 400;

	font-size: 16px;
	line-height: 24px;

	margin-bottom: 18px;
}

#content p a {
	font-family: 'Fira Sans Condensed', Sans-Serif;
	font-weight: 500;

	font-size: 19px;
	
	line-height: 24px;
	letter-spacing: 1px;

}

#content .italics {
	font-style: italic;
}

#content .bold {
	font-family: 'Fira Sans Condensed', Sans-Serif;
	font-weight: 700;

	font-size: 17px;
	line-height: 24px;
	letter-spacing: .5px;
}

#content .blue_left {
	border-left: 8px solid #4c254d;
	padding-left: 16px;
	padding-top: 8px; padding-bottom: 8px;
	
	margin-top: 27px; margin-bottom: 27px;

	position: relative;
}

.col1>.blue_left:first-child {
	margin-top: 0 !important;
}

/*#content div:first-child {
	margin-top: 0;
}*/

a .blue_left {
	margin-top: 27px;

}

#content ul { 
	padding: 0;
	margin: 0; 
	list-style: none;
}

#content li {
	font-family: 'Fira Sans Condensed', Serif;
	font-weight: 400;

	font-size: 17px;
	line-height: 24px;

	/*margin-bottom: 15px;*/
}


#content h5 {
	font-family: 'Fira Sans Condensed', Serif;
	font-weight: 300;

	font-size: 24px;
	line-height: 28px;
	letter-spacing: .5px;
	margin-top: 36px; margin-bottom: 18px; margin-left: -2px;
}

#content .icon_button {
	position:relative;
	float:left;

	width: 30.1px;
	height: 32px;
	/*padding-top: 8px; padding-bottom: 8px;*/
	margin-right: 16px;
}

#content .icon_svg {
	position:relative;
	float:left;

	width: 30.1px;
	height: 32px;
}

	#content .icon_blue_left {
		height: 32px;
	}

#contact_button, #resume_button, #process_button, #prototype_button {
	width: 30.1px;
	height: 32px;
	
}

#content .inline_icon {
	position:relative;
	float:left;

	margin: 0; padding: 0;
	padding-top: 4px;
	width: 450px;

	text-transform: uppercase;
}

	.contact_button_title#contact_title {
		padding-top: 0px;
	}


#content .blue_left .quote, #content .blue_left .author {
	margin-left: 8px;
}

#content .quote p {
	font-size: 22px;
	line-height: 32px;
}

	#content .hanging {
		position: absolute;
		top: 8px;
		left: .55em;

}

#content .author p {
	margin-bottom: 0px;
}
